.places__image {
  max-width: 640px;
  object-fit: cover;
  position: relative;
}

.places__image:nth-child(2n) {
  left: 190px;
}

@media screen and (max-width: 1280px) {
  .places__image:nth-child(2n) {
    left: 170px;
  }
}
