.places__image {
  max-width: 640px;
  /* height: 100%; */
  object-fit: cover;
}

@media screen and (max-width: 993px) {
  .places__image {
    order: 2;
    display: block;
    width: 100%;
  }
}


@media screen and (max-width: 426px) {
  .places__image {
  }
}
