.intro__image {
  max-width: 100%;
  height: 100%;
  max-width: 360px;

  object-fit: cover;
  padding-right: 75px;
}

@media screen and (max-width: 1024px) {
  .intro__image {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .intro__image {
    width: 100%;
  }
}
